<form>
    <p><b>Hello World!</b></p>
    <div class="form-group">
        <label for="scene_name">Scene Name:</label><br>
        <div class="form-fields">
        <input type="text" id="scene_name" name="scene_name"><br>
        </div>
    </div>

    <div class="form-group">
        <label>Background Image</label>
        <div class="form-fields">
            {{filePicker target="img" type="imagevideo"}}
            <input class="image" type="text" name="img" placeholder="{{localize 'File Path'}}" value="{{entity.img}}"/>
        </div>
    </div>

    <div class="form-group">
        <label>JSON Description</label>
        <div class="form-fields">
            {{filePicker target="img" type="imagevideo"}}
            <input class="image" type="text" name="img" placeholder="{{localize 'File Path'}}" value="{{entity.img}}"/>
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "SCENES.GridSize"}} <span class="units">({{localize "SCENES.Pixels"}})</span></label>
        <div class="form-fields">
            <input type="text" name="grid" placeholder="{{localize 'SCENES.Pixels'}}" value="{{entity.grid}}" data-dtype="Number"/>
        </div>
    </div>

    <!-- Form Submission -->
    <button type="submit" name="submit">
        <i class="far fa-save"></i> {{localize "Save Changes"}}
    </button>
</form>
